@{
    ViewBag.Title = "Home Page";
}
    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="Home">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Home</h1>
                    <p>Välkommen att söka i EssVisions diarium
Här finns möjlighet att söka efter inkommande och utgående ärenden och handlingar som registrerats i kommunens diarium. Här finns också möjlighet att söka via datum. Uppgifterna blir tillgängliga ca 1 timme efter de registrerats.

Ett ärende som registrerats tilldelas ett årtal samt nummer och benämns ”diarienummer” (ex 2010/64).

Till ett ärende kan finnas flera handlingar. En handling kan vara en inkommen eller avgående skrivelse. En handling kan också vara ett beslut i ett ärende som behandlats på sammanträde med nämndens beredande organ (s k arbetsutskott) eller som behandlats vid sammanträde med nämnden. Alla handlingar tilldelas ett nummer som föregås av årtal och benämns ”handlingsnummer” (ex 2010.1206). Det går bra att även söka handlingar genom att ange datum.

Om någon av ikonerna    visas finns ett dokument antingen i Word, PDF eller Excel-format kopplat till handlingen. Klicka på symbolen, ett fönster öppnas och det kopplade dokumentet visas på skärmen.

Vissa rubriker innehåller sorteringsmöjlighet.

Ärenden och handlingar som är registrerade efter den 1 januari 2006 går att söka ur följande nämnders diarium (varje nämnd är en egen myndighet och har ett eget diarium):

Fritids- och kulturnämnden - Fkn
Kommunstyrelsen - Ks (inkluderar även kommunfullmäktige - Kf)
Omsorgsnämnden - On

Uppgifter ur byggnadsnämndens och barn- och utbildningsnämndens diarium finns inte idag tillgängliga på XXXXX kommuns hemsida.

Reglerna för kommunens arbete med allmänna handlingar och Din rätt att ta del av dem återfinns i bl a tryckfrihetsförordningen (TF), offentlighets- och sekretesslagen (OSL), personuppgiftslagen (PuL) samt personuppgiftsförordningen (PuF).

Vid sökning kan begreppet. </p>
                </md-content>
            </md-tab>
            <md-tab label="Handling">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Handling</h1>
                    <p>LNullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor.</p>
                    <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor.</p>
                    <p>Integer turpis finibus commodo lectus.</p>
                </md-content>
            </md-tab>
            <md-tab label="Ärende">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Ärende</h1>
                    <p>Integer turpis erat, lectus.</p>
                </md-content>
            </md-tab>
        </md-tabs>
        <md-button class="btn-primary"></md-button>
        <style>
            .btn-danger{
                background:initial;
                display:block;
            }
        </style>
    </md-content>